In [18]:
import pandas as pd 
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [17]:
pip install plotly

Collecting plotly
  Downloading plotly-6.0.1-py3-none-any.whl.metadata (6.7 kB)
Collecting narwhals>=1.15.1 (from plotly)
  Downloading narwhals-1.37.1-py3-none-any.whl.metadata (9.3 kB)
Requirement already satisfied: packaging in c:\users\aorjuela\appdata\roaming\python\python313\site-packages (from plotly) (24.2)
Downloading plotly-6.0.1-py3-none-any.whl (14.8 MB)
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.8 MB ? eta -:--:--
    --------------------------------------- 0.3/14.8 MB ? eta -:--:--
    --------------------------------------- 0.3/14.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.8 MB 579.6 kB/s eta 0:00:25
   - -------------------------------------- 0.5/14.8 MB 579.6 kB/s eta 0:00:25
   - -------------------------------------- 0.5/14.8 MB 579.6 kB/s eta 0:00:25
   -- ------------------------------------- 0.8/14.8 MB 492.0 kB/s eta 0:00:29
   -- ------------------------------------- 1.0/14.8 MB 560.4 kB/s eta 0:00:25
   -- ------------------------------------- 1.0/14.8 MB 560.4 kB/s eta 0:00:25
   --- ------------------------------------ 1.3/14.8 MB 578.8 kB/s eta 0:00:24
   --- ------------------------------------ 1.3/14.8 MB 578.8 kB/s eta 0:00:24
   ---- ----------------------------------- 1.6/14.8 MB 602.6 kB/s eta 0:00:22
   ---- ----------------------------------- 1.8/14.8 MB 638.3 kB/s eta 0:00:21
   ---- ----------------------------------- 1.8/14.8 MB 638.3 kB/s eta 0:00:21
   ----- ---------------------------------- 2.1/14.8 MB 668.3 kB/s eta 0:00:20
   ----- ---------------------------------- 2.1/14.8 MB 668.3 kB/s eta 0:00:20
   ------ --------------------------------- 2.4/14.8 MB 673.4 kB/s eta 0:00:19
   ------- -------------------------------- 2.6/14.8 MB 674.1 kB/s eta 0:00:19
   ------- -------------------------------- 2.6/14.8 MB 674.1 kB/s eta 0:00:19
   ------- -------------------------------- 2.9/14.8 MB 693.8 kB/s eta 0:00:18
   -------- ------------------------------- 3.1/14.8 MB 724.0 kB/s eta 0:00:17
   --------- ------------------------------ 3.7/14.8 MB 778.9 kB/s eta 0:00:15
   ---------- ----------------------------- 3.9/14.8 MB 805.2 kB/s eta 0:00:14
   ---------- ----------------------------- 3.9/14.8 MB 805.2 kB/s eta 0:00:14
   ----------- ---------------------------- 4.2/14.8 MB 802.6 kB/s eta 0:00:14
   ----------- ---------------------------- 4.2/14.8 MB 802.6 kB/s eta 0:00:14
   ----------- ---------------------------- 4.2/14.8 MB 802.6 kB/s eta 0:00:14
   ------------ --------------------------- 4.5/14.8 MB 750.4 kB/s eta 0:00:14
   ------------ --------------------------- 4.5/14.8 MB 750.4 kB/s eta 0:00:14
   ------------ --------------------------- 4.5/14.8 MB 750.4 kB/s eta 0:00:14
   ------------ --------------------------- 4.7/14.8 MB 713.4 kB/s eta 0:00:15
   ------------ --------------------------- 4.7/14.8 MB 713.4 kB/s eta 0:00:15
   ------------- -------------------------- 5.0/14.8 MB 708.6 kB/s eta 0:00:14
   ------------- -------------------------- 5.0/14.8 MB 708.6 kB/s eta 0:00:14
   -------------- ------------------------- 5.2/14.8 MB 716.2 kB/s eta 0:00:14
   -------------- ------------------------- 5.5/14.8 MB 729.8 kB/s eta 0:00:13
   --------------- ------------------------ 5.8/14.8 MB 742.3 kB/s eta 0:00:13
   ---------------- ----------------------- 6.0/14.8 MB 745.2 kB/s eta 0:00:12
   ---------------- ----------------------- 6.0/14.8 MB 745.2 kB/s eta 0:00:12
   ---------------- ----------------------- 6.3/14.8 MB 752.7 kB/s eta 0:00:12
   ----------------- ---------------------- 6.6/14.8 MB 762.0 kB/s eta 0:00:11
   ----------------- ---------------------- 6.6/14.8 MB 762.0 kB/s eta 0:00:11
   ------------------ --------------------- 6.8/14.8 MB 753.5 kB/s eta 0:00:11
   ------------------ --------------------- 6.8/14.8 MB 753.5 kB/s eta 0:00:11
   ------------------- -------------------- 7.1/14.8 MB 738.1 kB/s eta 0:00:11
   ------------------- -------------------- 7.1/14.8 MB 738.1 kB/s eta 0:00:11
   ------------------- -------------------- 7.1/14.8 MB 738.1 kB/s eta 0:00:11
   ------------------- -------------------- 7.1/14.8 MB 738.1 kB/s eta 0:00:11
   ------------------- -------------------- 7.3/14.8 MB 702.2 kB/s eta 0:00:11
   ------------------- -------------------- 7.3/14.8 MB 702.2 kB/s eta 0:00:11
   ------------------- -------------------- 7.3/14.8 MB 702.2 kB/s eta 0:00:11
   ------------------- -------------------- 7.3/14.8 MB 702.2 kB/s eta 0:00:11
   ------------------- -------------------- 7.3/14.8 MB 702.2 kB/s eta 0:00:11
   -------------------- ------------------- 7.6/14.8 MB 656.9 kB/s eta 0:00:11
   -------------------- ------------------- 7.6/14.8 MB 656.9 kB/s eta 0:00:11
   -------------------- ------------------- 7.6/14.8 MB 656.9 kB/s eta 0:00:11
   -------------------- ------------------- 7.6/14.8 MB 656.9 kB/s eta 0:00:11
   -------------------- ------------------- 7.6/14.8 MB 656.9 kB/s eta 0:00:11
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 7.9/14.8 MB 628.4 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   --------------------- ------------------ 8.1/14.8 MB 588.6 kB/s eta 0:00:12
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ---------------------- ----------------- 8.4/14.8 MB 513.9 kB/s eta 0:00:13
   ----------------------- ---------------- 8.7/14.8 MB 485.1 kB/s eta 0:00:13
   ----------------------- ---------------- 8.7/14.8 MB 485.1 kB/s eta 0:00:13
   ----------------------- ---------------- 8.7/14.8 MB 485.1 kB/s eta 0:00:13
   ------------------------ --------------- 8.9/14.8 MB 481.1 kB/s eta 0:00:13
   ------------------------ --------------- 8.9/14.8 MB 481.1 kB/s eta 0:00:13
   ------------------------ --------------- 9.2/14.8 MB 484.0 kB/s eta 0:00:12
   ------------------------ --------------- 9.2/14.8 MB 484.0 kB/s eta 0:00:12
   ------------------------- -------------- 9.4/14.8 MB 489.0 kB/s eta 0:00:11
   ------------------------- -------------- 9.4/14.8 MB 489.0 kB/s eta 0:00:11
   ------------------------- -------------- 9.4/14.8 MB 489.0 kB/s eta 0:00:11
   -------------------------- ------------- 9.7/14.8 MB 483.8 kB/s eta 0:00:11
   -------------------------- ------------- 9.7/14.8 MB 483.8 kB/s eta 0:00:11
   -------------------------- ------------- 9.7/14.8 MB 483.8 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   -------------------------- ------------- 10.0/14.8 MB 483.3 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   --------------------------- ------------ 10.2/14.8 MB 445.6 kB/s eta 0:00:11
   ---------------------------- ----------- 10.5/14.8 MB 415.4 kB/s eta 0:00:11
   ---------------------------- ----------- 10.5/14.8 MB 415.4 kB/s eta 0:00:11
   ---------------------------- ----------- 10.5/14.8 MB 415.4 kB/s eta 0:00:11
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 10.7/14.8 MB 416.9 kB/s eta 0:00:10
   ----------------------------- ---------- 11.0/14.8 MB 407.4 kB/s eta 0:00:10
   ----------------------------- ---------- 11.0/14.8 MB 407.4 kB/s eta 0:00:10
   ----------------------------- ---------- 11.0/14.8 MB 407.4 kB/s eta 0:00:10
   ------------------------------ --------- 11.3/14.8 MB 406.3 kB/s eta 0:00:09
   ------------------------------ --------- 11.3/14.8 MB 406.3 kB/s eta 0:00:09
   ------------------------------ --------- 11.3/14.8 MB 406.3 kB/s eta 0:00:09
   ------------------------------ --------- 11.3/14.8 MB 406.3 kB/s eta 0:00:09
   ------------------------------- -------- 11.5/14.8 MB 404.7 kB/s eta 0:00:09
   ------------------------------- -------- 11.8/14.8 MB 408.7 kB/s eta 0:00:08
   ------------------------------- -------- 11.8/14.8 MB 408.7 kB/s eta 0:00:08
   -------------------------------- ------- 12.1/14.8 MB 413.6 kB/s eta 0:00:07
   -------------------------------- ------- 12.1/14.8 MB 413.6 kB/s eta 0:00:07
   -------------------------------- ------- 12.1/14.8 MB 413.6 kB/s eta 0:00:07
   --------------------------------- ------ 12.3/14.8 MB 413.6 kB/s eta 0:00:07
   --------------------------------- ------ 12.3/14.8 MB 413.6 kB/s eta 0:00:07
   --------------------------------- ------ 12.6/14.8 MB 414.5 kB/s eta 0:00:06
   --------------------------------- ------ 12.6/14.8 MB 414.5 kB/s eta 0:00:06
   --------------------------------- ------ 12.6/14.8 MB 414.5 kB/s eta 0:00:06
   --------------------------------- ------ 12.6/14.8 MB 414.5 kB/s eta 0:00:06
   ---------------------------------- ----- 12.8/14.8 MB 409.3 kB/s eta 0:00:05
   ---------------------------------- ----- 12.8/14.8 MB 409.3 kB/s eta 0:00:05
   ----------------------------------- ---- 13.1/14.8 MB 413.3 kB/s eta 0:00:05
   ----------------------------------- ---- 13.1/14.8 MB 413.3 kB/s eta 0:00:05
   ----------------------------------- ---- 13.1/14.8 MB 413.3 kB/s eta 0:00:05
   ----------------------------------- ---- 13.1/14.8 MB 413.3 kB/s eta 0:00:05
   ------------------------------------ --- 13.4/14.8 MB 402.6 kB/s eta 0:00:04
   ------------------------------------ --- 13.4/14.8 MB 402.6 kB/s eta 0:00:04
   ------------------------------------ --- 13.4/14.8 MB 402.6 kB/s eta 0:00:04
   ------------------------------------ --- 13.6/14.8 MB 395.7 kB/s eta 0:00:03
   ------------------------------------ --- 13.6/14.8 MB 395.7 kB/s eta 0:00:03
   ------------------------------------- -- 13.9/14.8 MB 388.1 kB/s eta 0:00:03
   ------------------------------------- -- 13.9/14.8 MB 388.1 kB/s eta 0:00:03
   ------------------------------------- -- 13.9/14.8 MB 388.1 kB/s eta 0:00:03
   -------------------------------------- - 14.2/14.8 MB 386.9 kB/s eta 0:00:02
   -------------------------------------- - 14.2/14.8 MB 386.9 kB/s eta 0:00:02
   -------------------------------------- - 14.4/14.8 MB 376.6 kB/s eta 0:00:02
   -------------------------------------- - 14.4/14.8 MB 376.6 kB/s eta 0:00:02
   -------------------------------------- - 14.4/14.8 MB 376.6 kB/s eta 0:00:02
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------  14.7/14.8 MB 359.3 kB/s eta 0:00:01
   ---------------------------------------- 14.8/14.8 MB 345.0 kB/s eta 0:00:00
Downloading narwhals-1.37.1-py3-none-any.whl (332 kB)
Installing collected packages: narwhals, plotly
Successfully installed narwhals-1.37.1 plotly-6.0.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
pip install nbformat

Collecting nbformat
  Downloading nbformat-5.10.4-py3-none-any.whl.metadata (3.6 kB)
Collecting fastjsonschema>=2.15 (from nbformat)
  Downloading fastjsonschema-2.21.1-py3-none-any.whl.metadata (2.2 kB)
Collecting jsonschema>=2.6 (from nbformat)
  Downloading jsonschema-4.23.0-py3-none-any.whl.metadata (7.9 kB)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\aorjuela\appdata\roaming\python\python313\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\aorjuela\appdata\roaming\python\python313\site-packages (from nbformat) (5.14.3)
Collecting attrs>=22.2.0 (from jsonschema>=2.6->nbformat)
  Downloading attrs-25.3.0-py3-none-any.whl.metadata (10 kB)
Collecting jsonschema-specifications>=2023.03.6 (from jsonschema>=2.6->nbformat)
  Downloading jsonschema_specifications-2025.4.1-py3-none-any.whl.metadata (2.9 kB)
Collecting referencing>=0.28.4 (from jsonschema>=2.6->nbformat)
  Downloading referencing-0.36.2-py3-none-any.whl.metadata (2.8 kB)
Collecting rpds-py>=0.7.1 (from jsonschema>=2.6->nbformat)
  Downloading rpds_py-0.24.0-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: platformdirs>=2.5 in c:\users\aorjuela\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\aorjuela\appdata\roaming\python\python313\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (308)
Downloading nbformat-5.10.4-py3-none-any.whl (78 kB)
Downloading fastjsonschema-2.21.1-py3-none-any.whl (23 kB)
Downloading jsonschema-4.23.0-py3-none-any.whl (88 kB)
Downloading attrs-25.3.0-py3-none-any.whl (63 kB)
Downloading jsonschema_specifications-2025.4.1-py3-none-any.whl (18 kB)
Downloading referencing-0.36.2-py3-none-any.whl (26 kB)
Downloading rpds_py-0.24.0-cp313-cp313-win_amd64.whl (239 kB)
Installing collected packages: fastjsonschema, rpds-py, attrs, referencing, jsonschema-specifications, jsonschema, nbformat
Successfully installed attrs-25.3.0 fastjsonschema-2.21.1 jsonschema-4.23.0 jsonschema-specifications-2025.4.1 nbformat-5.10.4 referencing-0.36.2 rpds-py-0.24.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
lightning_strikes = pd.read_csv("./Raw_data/Files/Files/eda_missing_data_dataset1.csv")
lightning_strikes.head(15)

          date  center_point_geom  longitude  latitude  number_of_strikes
0   2018-08-01  POINT(-81.6 22.6)      -81.6      22.6                 48
1   2018-08-01  POINT(-81.1 22.6)      -81.1      22.6                 32
2   2018-08-01  POINT(-80.9 22.6)      -80.9      22.6                118
3   2018-08-01  POINT(-80.8 22.6)      -80.8      22.6                 69
4   2018-08-01  POINT(-98.4 22.8)      -98.4      22.8                 44
5   2018-08-01    POINT(-81 22.7)      -81.0      22.7                 36
6   2018-08-01  POINT(-98.4 22.7)      -98.4      22.7                110
7   2018-08-01  POINT(-81.1 22.7)      -81.1      22.7                 48
8   2018-08-01  POINT(-80.9 22.7)      -80.9      22.7                 71
9   2018-08-01  POINT(-85.7 26.4)      -85.7      26.4                 29
10  2018-08-01  POINT(-81.1 22.8)      -81.1      22.8                 59
11  2018-08-01    POINT(-92 26.5)      -92.0      26.5                 49
12  2018-08-01  POINT(-96.2 26.5)      -96.2      26.5                 47
13  2018-08-01  POINT(-90.8 22.9)      -90.8      22.9                 47
14  2018-08-01  POINT(-85.8 26.5)      -85.8      26.5                 28

In [3]:
lightning_strikes.shape

(717530, 5)

In [4]:
lightning_strikes_p2 = pd.read_csv("./Raw_data/Files/Files/eda_missing_data_dataset2.csv")
lightning_strikes_p2.head(15)

,date,zip_code,city,state,state_code,center_point_geom,number_of_strikes
0,2018-08-08,3281,Weare,New Hampshire,NH,POINT(-71.7 43.1),1
1,2018-08-14,6488,Heritage Village CDP,Connecticut,CT,POINT(-73.2 41.5),3
2,2018-08-16,97759,"Sisters city, Black Butte Ranch CDP",Oregon,OR,POINT(-121.4 44.3),3
3,2018-08-18,6776,New Milford CDP,Connecticut,CT,POINT(-73.4 41.6),48
4,2018-08-08,1077,Southwick,Massachusetts,MA,POINT(-72.8 42),2
5,2018-08-17,92283,Winterhaven CDP,California,CA,POINT(-114.9 33.1),3
6,2018-08-18,5301,"Brattleboro CDP, West Brattleboro CDP",Vermont,VT,POINT(-72.8 42.8),3
7,2018-08-04,97761,Warm Springs CDP,Oregon,OR,POINT(-121.5 44.9),1
8,2018-08-08,1378,Warwick,Massachusetts,MA,POINT(-72.4 42.7),5
9,2018-08-17,3766,Lebanon city,New Hampshire,NH,POINT(-72.2 43.6),6
10,2018-08-17,97812,Arlington city,Oregon,OR,POINT(-120.3 45.4),24
11,2018-08-07,6831,"Glenville CDP, Pemberwick CDP, Greenwich CDP, ...",Connecticut,CT,POINT(-73.6 41.1),8
12,2018-08-09,1341,Conway,Massachusetts,MA,POINT(-72.7 42.5),2
13,2018-08-07,3240,Grafton,New Hampshire,NH,POINT(-72 43.6),7
14,2018-08-16,3592,Pittsburg,New Hampshire,NH,POINT(-71.2 45.1),45

In [5]:
lightning_strikes_p2.shape

(323700, 7)

In [6]:
lightning_strikes_c = lightning_strikes.merge(lightning_strikes_p2, on=["date", "center_point_geom"], how="left")

lightning_strikes_c.head(30)

,date,center_point_geom,longitude,latitude,number_of_strikes_x,zip_code,city,state,state_code,number_of_strikes_y
0,2018-08-01,POINT(-81.6 22.6),-81.6,22.6,48,NaN,NaN,NaN,NaN,NaN
1,2018-08-01,POINT(-81.1 22.6),-81.1,22.6,32,NaN,NaN,NaN,NaN,NaN
2,2018-08-01,POINT(-80.9 22.6),-80.9,22.6,118,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,POINT(-80.8 22.6),-80.8,22.6,69,NaN,NaN,NaN,NaN,NaN
4,2018-08-01,POINT(-98.4 22.8),-98.4,22.8,44,NaN,NaN,NaN,NaN,NaN
5,2018-08-01,POINT(-81 22.7),-81.0,22.7,36,NaN,NaN,NaN,NaN,NaN
6,2018-08-01,POINT(-98.4 22.7),-98.4,22.7,110,NaN,NaN,NaN,NaN,NaN
7,2018-08-01,POINT(-81.1 22.7),-81.1,22.7,48,NaN,NaN,NaN,NaN,NaN
8,2018-08-01,POINT(-80.9 22.7),-80.9,22.7,71,NaN,NaN,NaN,NaN,NaN
9,2018-08-01,POINT(-85.7 26.4),-85.7,26.4,29,NaN,NaN,NaN,NaN,NaN
10,2018-08-01,POINT(-81.1 22.8),-81.1,22.8,59,NaN,NaN,NaN,NaN,NaN
11,2018-08-01,POINT(-92 26.5),-92.0,26.5,49,NaN,NaN,NaN,NaN,NaN
12,2018-08-01,POINT(-96.2 26.5),-96.2,26.5,47,NaN,NaN,NaN,NaN,NaN
13,2018-08-01,POINT(-90.8 22.9),-90.8,22.9,47,NaN,NaN,NaN,NaN,NaN
14,2018-08-01,POINT(-85.8 26.5),-85.8,26.5,28,NaN,NaN,NaN,NaN,NaN
15,2018-08-01,POINT(-85.4 26.5),-85.4,26.5,44,NaN,NaN,NaN,NaN,NaN
16,2018-08-01,POINT(-107.8 26.4),-107.8,26.4,26,NaN,NaN,NaN,NaN,NaN
17,2018-08-01,POINT(-99 26.6),-99.0,26.6,26,78584.0,"Roma city, H. Cuellar Estates CDP, La Rosita C...",Texas,TX,26.0
18,2018-08-01,POINT(-83 26.6),-83.0,26.6,25,NaN,NaN,NaN,NaN,NaN
19,2018-08-01,POINT(-95.5 26.5),-95.5,26.5,23,NaN,NaN,NaN,NaN,NaN
20,2018-08-01,POINT(-93.3 26.5),-93.3,26.5,32,NaN,NaN,NaN,NaN,NaN
21,2018-08-01,POINT(-92.9 26.5),-92.9,26.5,32,NaN,NaN,NaN,NaN,NaN
22,2018-08-01,POINT(-92.8 26.5),-92.8,26.5,31,NaN,NaN,NaN,NaN,NaN
23,2018-08-01,POINT(-92.7 26.5),-92.7,26.5,46,NaN,NaN,NaN,NaN,NaN
24,2018-08-01,POINT(-92.6 26.5),-92.6,26.5,152,NaN,NaN,NaN,NaN,NaN
25,2018-08-01,POINT(-91.9 26.5),-91.9,26.5,57,NaN,NaN,NaN,NaN,NaN
26,2018-08-01,POINT(-91.3 26.5),-91.3,26.5,26,NaN,NaN,NaN,NaN,NaN
27,2018-08-01,POINT(-112 30.8),-112.0,30.8,41,NaN,NaN,NaN,NaN,NaN
28,2018-08-01,POINT(-82.2 30.8),-82.2,30.8,57,NaN,NaN,NaN,NaN,NaN
29,2018-08-01,POINT(-81.7 30.8),-81.7,30.8,44,31548.0,"Kingsland city, St. Marys city",Georgia,GA,44.0

In [7]:
lightning_strikes_c.describe().round(2)

,longitude,latitude,number_of_strikes_x,zip_code,number_of_strikes_y
count,717530.00,717530.00,717530.00,323700.00,323700.00
mean,-90.88,33.33,21.64,57931.96,25.41
std,13.65,7.94,48.03,22277.33,57.42
min,-133.90,16.60,1.00,1002.00,1.00
25%,-102.80,26.90,3.00,38260.75,3.00
50%,-90.30,33.20,6.00,59212.50,8.00
75%,-80.90,39.40,21.00,78642.00,24.00
max,-43.80,51.70,2211.00,99402.00,2211.00

In [8]:
# Check missing state locations

lgh_null_state = lightning_strikes_c[ pd.isnull(lightning_strikes_c["state_code"])]
lgh_null_state.shape

(393830, 10)

In [10]:
lgh_p1_r_cnt = lightning_strikes.shape[0]
lgh_p2_r_cnt = lightning_strikes_p2.shape[0]

data_dff = lgh_p1_r_cnt - lgh_null_state.shape[0]
print(lgh_p1_r_cnt,lgh_p2_r_cnt,data_dff)

717530 323700 323700

***

In the dataset eda_missing_data_dataset1, is all the data stored, if the data that has a *Null* value in the state_code column is removed, we end with a shorter dataset that was stored as eda_missing_data_dataset2

In [11]:
lgh_null_state.head()

,date,center_point_geom,longitude,latitude,number_of_strikes_x,zip_code,city,state,state_code,number_of_strikes_y
0,2018-08-01,POINT(-81.6 22.6),-81.6,22.6,48,NaN,NaN,NaN,NaN,NaN
1,2018-08-01,POINT(-81.1 22.6),-81.1,22.6,32,NaN,NaN,NaN,NaN,NaN
2,2018-08-01,POINT(-80.9 22.6),-80.9,22.6,118,NaN,NaN,NaN,NaN,NaN
3,2018-08-01,POINT(-80.8 22.6),-80.8,22.6,69,NaN,NaN,NaN,NaN,NaN
4,2018-08-01,POINT(-98.4 22.8),-98.4,22.8,44,NaN,NaN,NaN,NaN,NaN

In [15]:
# Df of just latitude, longitude, and number of strikes and group by latitude and longitude
top__striking_missing_states = lgh_null_state.groupby(["longitude","latitude"],as_index=False)["number_of_strikes_x"].sum().sort_values(by="number_of_strikes_x",ascending= False).reset_index()
top__striking_missing_states.head(10)

   index  longitude  latitude  number_of_strikes_x
0  38364      -84.2      22.4                 3841
1  40312      -82.9      22.9                 3184
2  38227      -84.3      22.4                 2999
3  40155      -83.0      22.9                 2754
4  38502      -84.1      22.5                 2746
5  38365      -84.2      22.5                 2738
6  43189      -81.0      22.3                 2680
7  41097      -82.4      22.9                 2652
8  41255      -82.3      22.9                 2618
9  38226      -84.3      22.3                 2551

In [22]:
fig = px.scatter_geo(
    top__striking_missing_states[top__striking_missing_states["number_of_strikes_x"] >= 300],
    lat = "latitude",
    lon= "longitude",
    size="number_of_strikes_x"
)

fig.update_layout(
    title_text = "Missing Data"
)

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed