## Binomial Logistic Regression

In [2]:
import pandas as pd
import seaborn as sns
import os

### Exploratory Data Analyst

In [4]:
cwd = os.getcwd()
file_folder = 'raw_data'
file_name = 'activity.csv'

file_path = os.path.join(cwd,file_folder,file_name)

raw_data = pd.read_csv(file_path)

raw_data.head()

   Acc (vertical)  LyingDown
0          96.229          0
1          84.746          0
2          82.449          0
3         106.560          0
4          80.152          0