## Overview

Whenever a data professional works with a new dataset, the first step is to understand the context of the data during the discovering stage. Often, this involves discussing the data with project stakeholders and reading documentation about the dataset and the data collection process. After that, the data professional moves on to data cleaning and addresses issues like missing data, incorrect values, and irrelevant data. Computing descriptive stats is a common step to take after data cleaning.

In [1]:
import pandas as pd 
import numpy as np 
import datetime as dt 
import matplotlib.pyplot as plt

### Case of Study
I'm working for the government of a large nation, the government department of Education is seeking to understand the current literacy rates across the country.

##### Literacy Rate: 
The percentage of the population of a given age group that can read and write. 

### My Task:
Analyze data about the literacy rate among primary and secondary students. These are students who range in age from 6-18 years old.
I'll use descriptive stats to get a basic understanding of the literacy rate data for each district.

In [2]:
edu_raw = pd.read_csv("./Raw_data/education_districtwise.csv")

edu_raw.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00