# Tik-Tok Capstone Project

The Tik-Tok leadership have requested an additional item to be added to the initial project scope. We are interested in whether there is a statistical difference in the data between verified and unverified accounts. Do you have any indication which variable would be most insightful to test in terms of verified and unverified accounts?

### Task to do

* Compute descriptive statistics on the claims classification data
* Conduct a two-sample hypothesis test of verified versus unverified accounts in terms of video view counts

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
tik_tok_raw = pd.read_csv("./Raw_data/tiktok_dataset.csv")
tik_tok_raw.head(12)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0
10,11,claim,8095102436,47,someone shared with me that an average user sp...,not verified,active,695641.0,238030.0,23062.0,1719.0,378.0
11,12,claim,4507218541,30,someone shared with me that the world generate...,not verified,active,482046.0,168107.0,19474.0,3282.0,532.0

In [4]:
tik_tok_raw.describe(include="all")

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
count,19382.000000,19084,1.938200e+04,19382.000000,19084,19382,19382,19084.000000,19084.000000,19084.000000,19084.000000,19084.000000
unique,NaN,2,NaN,NaN,19012,2,3,NaN,NaN,NaN,NaN,NaN
top,NaN,claim,NaN,NaN,a colleague read in the media that butterflie...,not verified,active,NaN,NaN,NaN,NaN,NaN
freq,NaN,9608,NaN,NaN,2,18142,15663,NaN,NaN,NaN,NaN,NaN
mean,9691.500000,NaN,5.627454e+09,32.421732,NaN,NaN,NaN,254708.558688,84304.636030,16735.248323,1049.429627,349.312146
std,5595.245794,NaN,2.536440e+09,16.229967,NaN,NaN,NaN,322893.280814,133420.546814,32036.174350,2004.299894,799.638865
min,1.000000,NaN,1.234959e+09,5.000000,NaN,NaN,NaN,20.000000,0.000000,0.000000,0.000000,0.000000
25%,4846.250000,NaN,3.430417e+09,18.000000,NaN,NaN,NaN,4942.500000,810.750000,115.000000,7.000000,1.000000
50%,9691.500000,NaN,5.618664e+09,32.000000,NaN,NaN,NaN,9954.500000,3403.500000,717.000000,46.000000,9.000000
75%,14536.750000,NaN,7.843960e+09,47.000000,NaN,NaN,NaN,504327.000000,125020.000000,18222.000000,1156.250000,292.000000
max,19382.000000,NaN,9.999873e+09,60.000000,NaN,NaN,NaN,999817.000000,657830.000000,256130.000000,14994.000000,9599.000000

In [5]:
tik_tok_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [6]:
claim_nas_mask = tik_tok_raw["claim_status"].isna()
claim_nas_mask.sum()

np.int64(298)

In [7]:
claim_nas = tik_tok_raw[claim_nas_mask]
claim_nas

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
19084,19085,NaN,4380513697,39,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19085,19086,NaN,8352130892,60,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19086,19087,NaN,4443076562,25,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19087,19088,NaN,8328300333,7,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19088,19089,NaN,3968729520,8,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,NaN,7578226840,21,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19378,19379,NaN,6079236179,53,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19379,19380,NaN,2565539685,10,NaN,verified,under review,NaN,NaN,NaN,NaN,NaN
19380,19381,NaN,2969178540,24,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19381,19382,NaN,8132759688,13,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN

In [8]:
claims = tik_tok_raw.dropna()
claims.isna().sum()

#                           0
claim_status                0
video_id                    0
video_duration_sec          0
video_transcription_text    0
verified_status             0
author_ban_status           0
video_view_count            0
video_like_count            0
video_share_count           0
video_download_count        0
video_comment_count         0
dtype: int64

In [9]:
claims.head(10)

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
5,6,claim,8972200955,35,someone shared with me that gross domestic pro...,not verified,under review,336647.0,175546.0,62303.0,4293.0,1857.0
6,7,claim,4958886992,16,someone shared with me that elvis presley has ...,not verified,active,750345.0,486192.0,193911.0,8616.0,5446.0
7,8,claim,2270982263,41,someone shared with me that the best selling s...,not verified,active,547532.0,1072.0,50.0,22.0,11.0
8,9,claim,5235769692,50,someone shared with me that about half of the ...,not verified,active,24819.0,10160.0,1050.0,53.0,27.0
9,10,claim,4660861094,45,someone shared with me that it would take a 50...,verified,active,931587.0,171051.0,67739.0,4104.0,2540.0

In [10]:
status_desc = claims.groupby("verified_status").agg({"video_view_count":"mean","video_like_count":"mean","video_comment_count":"mean"})
status_desc

                 video_view_count  video_like_count  video_comment_count
verified_status
not verified        265663.785339      87925.772422           363.700514
verified             91439.164167      30337.633333           134.877500

In [11]:
status_desc.loc[:,"video_view_count"]

verified_status
not verified    265663.785339
verified         91439.164167
Name: video_view_count, dtype: float64

## Hypothesis test

* Ho = There is *no* difference between the verified and the not verified account
* Ha = There is difference between the verified and the not verified account

In [12]:
# set the significance level

significance_level = 0.05

verified = claims[claims["verified_status"] == "verified"]
not_verified = claims[claims["verified_status"] == "not verified"]

# Check statistical difference by the "video_view_count"
t_score, p_value = stats.ttest_ind(a = verified["video_view_count"], b = not_verified["video_view_count"], equal_var= False)
print(f"The t_score for this two tail test is: {t_score:.4f}")
print(f"The p_value for this test is: {p_value:.4f}")

The t_score for this two tail test is: -25.4994
The p_value for this test is: 0.0000

In [13]:
significance_level = 0.05

verified = claims[claims["verified_status"] == "verified"]
not_verified = claims[claims["verified_status"] == "not verified"]

# Check statistical difference by the "video_comment_count"
t_score, p_value = stats.ttest_ind(a = verified["video_comment_count"], b = not_verified["video_comment_count"], equal_var= False)
print(f"The t_score for this two tail test is: {t_score:.4f}")
print(f"The p_value for this test is: {p_value:.4f}")

The t_score for this two tail test is: -13.5301
The p_value for this test is: 0.0000

* The p_value is almost 0 being lower than the significance level of 5% and in this escenario I reject the null hypothesis

* This means that there is significance probability evidence in the verified accounts vs the unverified

In [14]:
map_dict = {"verified":1, "not verified" :2}

claims["verified_status_key"] = claims["verified_status"].map(map_dict)

claims_main = claims[["claim_status","verified_status","verified_status_key","video_view_count","video_comment_count"]] 
claims_main.head(20)

C:\Users\andre\AppData\Local\Temp\ipykernel_3000\1105017841.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  claims["verified_status_key"] = claims["verified_status"].map(map_dict)

,claim_status,verified_status,verified_status_key,video_view_count,video_comment_count
0,claim,not verified,2,343296.0,0.0
1,claim,not verified,2,140877.0,684.0
2,claim,not verified,2,902185.0,329.0
3,claim,not verified,2,437506.0,584.0
4,claim,not verified,2,56167.0,152.0
5,claim,not verified,2,336647.0,1857.0
6,claim,not verified,2,750345.0,5446.0
7,claim,not verified,2,547532.0,11.0
8,claim,not verified,2,24819.0,27.0
9,claim,verified,1,931587.0,2540.0
10,claim,not verified,2,695641.0,378.0
11,claim,not verified,2,482046.0,532.0
12,claim,not verified,2,700081.0,1411.0
13,claim,not verified,2,929685.0,805.0
14,claim,not verified,2,937231.0,960.0
15,claim,not verified,2,746186.0,0.0
16,claim,not verified,2,923007.0,536.0
17,claim,not verified,2,467702.0,327.0
18,claim,not verified,2,168594.0,694.0
19,claim,not verified,2,249935.0,70.0